{% extends "base_generic.html" %}

{% block content %}

<div class="landing flex">
    <div class="img-section"></div>
    <div class="txt-section">
        <div class="grid place-items-center pt-64">

            {% load i18n %}
            {% load account socialaccount %}
            
            <p class="font-medium leading-tight text-5xl mt-0 mb-2 text-blue-600">Prijava</p>
            
            {% block form %}
            
            {% get_providers as socialaccount_providers %}
            
            {% if socialaccount_providers %}
            <p>{% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
            for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
            
            <div class="socialaccount_ballot">
            
                <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>
            
                <div class="login-or">{% trans 'or' %}</div>
            
            </div>
            
            {% include "socialaccount/snippets/login_extra.html" %}
            
            {% else %}
            <p class="font-semibold text-xl py-2">{% blocktrans %}Nemate račun? Stvorite
            <a href="{{ signup_url }}" style="color: blue">novi račun</a>.{% endblocktrans %}</p>
            {% endif %}
            
            
            <div class="mt-6 w-full max-w-xs">
                <form class="login bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <!-- <a class="button secondaryAction" style="color: blue" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> -->
                    <div class="grid place-items-center px-8 pt-6 mb-4">
                        <button class="primaryAction bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">{% trans "Prijava" %}</button>
                    </div>
                </form>
            </div>
            {% endblock %}
        </div>
    </div>
</div>

{% endblock content %}