{% extends "base_generic.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<style> 
    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid gray;
        border-radius: 4px;
      }
    input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid gray;
        border-radius: 4px;
    }
    input[type=email] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid gray;
        border-radius: 4px;
    }
</style>
<div class="grid place-items-center pt-64">

<p class="font-medium leading-tight text-5xl mt-0 mb-2 text-blue-600">Učlanite se</p>

<p>{% blocktrans %}Imaš račun? <a href="{{ login_url }}" style="color: blue">Prijavi se</a>.{% endblocktrans %}</p>

<form class="mt-5 signup bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="grid place-items-center px-8 pt-6 mb-4">
  <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">{% trans "Učlani se" %} &raquo;</button>
  </div>
</form>

</div>
{% endblock %}
