{% extends "base_generic.html" %}
{% block content %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<div class="animation grid items-center h-screen grid-cols-1 bg-red-500">
    <img src="https://memegenerator.net/img/instances/59097274/one-does-not-simply-request-server-action-403-forbidden.jpg" class="mx-auto" alt="ONE DOES NOT SIMPLY REQUEST SERVER ACTION M8.... 403">
    <!--
        <h1 class="absolute inset-1/2 z-10 top-1/3">AIAIAIAI</h1>
        <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_87edm6kj.json" class="mx-auto" background="transparent"  speed="1"  style="width: 700px; height: 400px;"  loop  autoplay></lottie-player>
    -->
</div>
{% endblock content %}